<template>
<div>
  <md-progress md-indeterminate class="md-accent" :md-indeterminate="process"></md-progress>

  <div class="materialContainer">

    <div class="box">

      <div class="title">LOGIN</div>

      <form>
        <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('username') }">
          <label>Username</label>
          <md-input v-model="username" required v-validate="'required'" data-vv-name="username" name="username"></md-input>
          <span class="md-error">{{ errors.first('username') }}</span>
        </md-input-container>

        <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('password') }">
          <label>Password</label>
          <md-input type="password" v-model="password" required v-validate="'required'" data-vv-name="password" name="password"></md-input>
          <span class="md-error">{{ errors.first('password') }}</span>
        </md-input-container>

      </form>

      <div class="button login">
        <md-button class="md-raised md-primary" v-on:click="login" :disabled="!fields.passed()">Login</md-button>
        <md-button v-on:click="resetform">Reset</md-button>
      </div>

    </div>

  </div>

  <!-- <md-layout md-gutter>

  <md-layout md-flex="33" md-flex-offset="33">

    <md-card class="loginbox">
      <md-toolbar class="md-transparent">
        <h3 class="md-title">Login</h3>
      </md-toolbar>
    <md-card-area>

    <md-card-content>
      <form>
      <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('username') }">
      <label>Username</label>
      <md-input v-model="username" required v-validate="'required'" data-vv-name="username" name="username"></md-input>
      <span class="md-error">{{ errors.first('username') }}</span>
    </md-input-container>

    <md-input-container v-bind:class="{ 'md-input-invalid': errors.has('password') }">
    <label>Password</label>
    <md-input type="password" v-model="password" required v-validate="'required'" data-vv-name="password" name="password"></md-input>
    <span class="md-error">{{ errors.first('password') }}</span>
  </md-input-container>

      </form>
    </md-card-content>
    </md-card-area>

    <md-card-actions>
    <md-button class="md-raised md-primary" v-on:click="login" :disabled="!fields.passed()">Login</md-button>
    <md-button v-on:click="resetform">Reset</md-button>
    </md-card-actions>
    </md-card>

  </md-layout>


</md-layout>
-->

<md-snackbar :md-position="'top center'" ref="otheralert" :md-duration="4000">
  <span>{{ otheralertmsg }}<span>
  <md-button class="md-accent" md-theme="light-blue" @click="$refs.otheralert.close()">Close</md-button>
</md-snackbar>

  <md-snackbar :md-position="'top center'" ref="timeoutalert" :md-duration="4000">
    <span>Connection timeout. Please try again later.<span>
    <md-button class="md-accent" md-theme="light-blue" @click="$refs.timeoutalert.close()">Close</md-button>
  </md-snackbar>

  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      username: '',
      password: '',
      process: false,
      otheralertmsg: ''
    }
  },
  methods: {
    resetform: function (e) {
      this.$data.username = ''
      this.$data.password = ''
      this.errors.clear()
    },

    login: function (e) {
      this.$data.process = true
      this.$http.post('../api/?t=' + new Date().getTime(), {
        event: 'login',
        username: this.$data.username,
        password: this.$data.password
      }).then(response => {
        this.$data.process = false
        if (response.body.loggedin === 'false') {
          this.$data.otheralertmsg = response.body.msg
          this.$refs.otheralert.open()
        } else if (response.body.loggedin === 'true') {
          window.location.href = 'https://' + window.location.host + '/dma/admin-panel/' + global.login_redirect + '/'
        }
      }, response => {
        this.$data.process = false
        this.$refs.timeoutalert.open()
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.loginbox {
  margin-top: 50px;
  width: 500px;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ED2553;
  position: relative;
}

.title:before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50px;
  background: #ED2553;
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
  transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
  -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
}

.material-button,
.alt-2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #ED2553;
  position: absolute;
  top: 40px;
  right: -70px;
  cursor: pointer;
  z-index: 100;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

.material-button .shape,
.alt-2 .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.material-button .shape:before,
.alt-2 .shape:before,
.material-button .shape:after,
.alt-2 .shape:after {
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before,
.alt-2 .shape:before {
  width: 25px;
  height: 4px;
}

.material-button .shape:after,
.alt-2 .shape:after {
  height: 25px;
  width: 4px;
}

.material-button.active,
.alt-2.active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg);
  -webkit-transform: translate(50%, -50%) rotate(0deg);
  -ms-transform: translate(50%, -50%) rotate(0deg);
}

.materialContainer {
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>
