/* =Typography
-----------------------------------------------------------------------------*/
body {
	background-color: #f6f5ed;
}
h1, h2, h3, h4, h5 {
	font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
}
h2, h3 { 
	font-weight: normal;
}


/* =Common
-----------------------------------------------------------------------------*/
img, #feedback, #banner, #intro li {
	border-radius: 3px;
}


/* =Layout
-----------------------------------------------------------------------------*/
.wrapper {
	padding: 0 10px;
	width: 94%;
	max-width: 1300px;
	margin: auto;
}
#outer {
	padding: 3em 0 1em 0;
	margin: 1em 0 3em 0;
	background: url(http://imperavi.com/i/demobg.png) #282828;
	box-shadow: 0 3px 7px #000 inset;
	color: #f2f2f2;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
	padding-top: 30px;
	margin-bottom: .6em;
}
#header h1 {
	float: left;
	font-size: 32px;
	margin-top: 1px;
	margin-bottom: 0;
	color: rgba(0, 0, 0, .8);	
}
#header nav {
	margin-top: 1.2em;
	float: right;
}
#header nav ul {
	margin: 0;
	list-style: none;
	overflow: hidden;
	text-transform: uppercase;	
}
#header nav ul li {
	float: left;
	margin-left: 2em;
}
#header nav ul li a {
	text-decoration: none;
	color: #000;
	color: rgba(0, 0, 0, .8);
}
#header nav ul li a:hover {
	text-decoration: underline;
}

/* =Promo
-----------------------------------------------------------------------------*/
#promo {
	margin-bottom: 1.5em;
}

/* =Intro
-----------------------------------------------------------------------------*/
#intro .subheader {
	color: rgba(0, 0, 0, .4);
	padding-bottom: .3em;
	border-bottom: 1px solid #ccc;
}
#intro li {
	background-color: #e9e6da;
}


/* =Feedback
-----------------------------------------------------------------------------*/
#feedback {
	background-color: #000;
	padding: 2em 3em;
}


/* =Banner
-----------------------------------------------------------------------------*/
#banner {
	line-height: 0;
	padding: 1.5em;
	background-color: #e9e6da;	
}

/* =Blocks
-----------------------------------------------------------------------------*/
#blocks dl {
	overflow: hidden;
	margin: 0;
	padding-bottom: 1.5em;	
}
#blocks dt {
	float: left;
	width: 22%;
	margin-right: 4%;	
}
#blocks dt img {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #000;
	box-shadow: 4px 4px 0 #000;
}
#blocks dd {
	margin: 0;
	float: left;
	width: 74%;
	padding-bottom: 1.5em;	
}


/* =Partners
-----------------------------------------------------------------------------*/
#partners {
	padding-top: 1.5em;
}
#partners h4 {
	color: #666;
}


/* =Footer
-----------------------------------------------------------------------------*/
#footer {
	color: #888;
	margin-top: 3em;
	padding-bottom: 100px;
	font-size: .9em;
	padding-top: 3em;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 2px 4px #bbb inset;
}
#footer section {
	float: left;
}
#footer nav {
	float: right;
}
#footer nav ul {
	list-style: none;
	margin: 0;
}
#footer nav ul li {
	float: left;
	margin-left: 2em;
}


/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .wrapper { width: 748px; }
}


/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	.wrapper { width: 300px; }
	#header h1 { float: none; }
	#header nav { float: none; }
	#header nav ul li { margin: 0; margin-right: 1em; font-size: .85em; }
    #partners ul li { padding-bottom: 1em; text-align: center; }	
    #feedback { padding: 1.5em; }
    #banner { text-align: center; margin-bottom: 1.5em; }
	#blocks dt, #blocks dd { float: none; width: auto; }
	#footer section, #footer nav { float: none; }
	#footer nav ul { margin-top: 1em; }
	#footer nav ul li { margin: 0; margin-right: 1em; }	
}


/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper { width: 420px; }
}