

@import url( '_normalize.css' );
@import url( '_defaults.css' );



body,
.ad,
.sm
{
	font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
}

a
{
	color: currentColor;
	text-decoration: none;
}

.clearfix::after
{
	content: '';
	display: table;
	clear: both;
}



/*
	AD
*/

.ad
{
	width: 9.375rem; /* 150 */
	color: #444;
	color: rgba( 0, 0, 0, .75 );
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .5 );
	position: fixed;
	z-index: 1000;
	top: 0.625rem; /* 10 */
	left: 0.625rem; /* 10 */
	padding: 0.5rem 0.625rem; /* 8 10 */
}
.ad--dark
{
	color: #ddd;
	color: rgba( 255, 255, 255, .75 );
	background-color: #111;
	background-color: rgba( 0, 0, 0, .5 );
}
	.ad__close
	{
		width: 0.625rem; /* 10 */
		height: 0.625rem; /* 10 */
		background-color: #777;
		background-color: rgba( 0, 0, 0, .5 );
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		top: -0.25rem; /* 4 */
		right: -0.25rem; /* 4 */

		-webkit-transition: -webkit-transform .25s ease-in-out;
		transition: transform .25s ease-in-out;
	}
	.ad--dark .ad__close
	{
		background-color: #ddd;
		background-color: rgba( 255, 255, 255, .75 );

	}
	.ad__close:hover,
	.ad__close:focus
	{
		-webkit-transform: scale( 1.25 );
		-ms-transform: scale( 1.25 );
		transform: scale( 1.25 );
	}

	#carbonads
	{
		font-size: 0.875rem; /* 14 */
		letter-spacing: -0.071em; /* 1 (14) */
		line-height: 1.125rem; /* 18 */
	}
		#carbonads a
		{
			color: currentColor;
			display: block;
			margin-top: 0.313rem; /* 5 */
		}
		#carbonads .carbon-poweredby
		{
			font-size: 0.75rem; /* 12 */
			text-transform: uppercase;
			color: #aaa;
			color: rgba( 0, 0, 0, .25 );
		}
		.ad--dark #carbonads .carbon-poweredby
		{
			color: #999;
			color: rgba( 255, 255, 255, .25 );
		}






/*
	RESPONSIVENESS
*/

@media screen and (max-width: 40em), screen and (max-height: 40em) /* 640 */
{
	.ad,
	.sm
	{
		display: none;
	}
}